// COLOR CUBE
$white-color: #fefefe;
$cerulean-color: #01afc8;
$bluehaze-color: #b6b8d1;
$amarant-color: #e7385f;
$codgray-color: #0e0e0e;
$wine-color: #513e5e;
$pizzaz-color: #fb9301;
$greenhaze-color: #01aa51;
$pharlap-color: #a08778;
$koromiko-color: #ffc869;
// MEDIAN CUT
$gallery-color: #f0efef;
$spectra-color: #345e60;
$fuzzybuzzy-color: #c04a57;
$pewter-color: #96a6a5;
$goldengrass-color: #de912a;
// MATERIAL DESIGN
$carrotorange-color: #f29518;
$oslogray-color: #959999;
$junglegreen-color: #22ad96;
$viridian-color: #458d76;
$cerisered-color: #e23c5d;
