// COLOR CUBE
$whiteColor: #fefefe;
$ceruleanColor: #01afc8;
$bluehazeColor: #b6b8d1;
$amarantColor: #e7385f;
$codgrayColor: #0e0e0e;
$wineColor: #513e5e;
$pizzazColor: #fb9301;
$greenhazeColor: #01aa51;
$pharlapColor: #a08778;
$koromikoColor: #ffc869;
// MEDIAN CUT
$galleryColor: #f0efef;
$spectraColor: #345e60;
$fuzzybuzzyColor: #c04a57;
$pewterColor: #96a6a5;
$goldengrassColor: #de912a;
// MATERIAL DESIGN
$carrotorangeColor: #f29518;
$oslograyColor: #959999;
$junglegreenColor: #22ad96;
$viridianColor: #458d76;
$ceriseredColor: #e23c5d;
